.banner {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-image: url(/img/banner/bg_banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 1510px;
  height: 1026px;
}
.banner-item {
  display: flex;
}
.banner-item__text {
  padding-top: 230px;
}
.banner-item h1 {
  width: 670px;
  padding-top: 70px;
  font-family: Raleway;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 0em;
  color: white;
}
.banner-item h1::after {
  content: "";
  display: block;
  margin: 55px 0 42px;
  width: 170px;
  border-bottom: 1px solid #ffffff;
}
.banner-item h5 {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  color: #ffffff;
  width: 270px;
}
.banner__btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 42px;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  border: 2px solid #ffffff;
  width: 270px;
  height: 58px;
}
.banner__btn a:hover {
  border: 2px solid #ec7979;
  color: #ec7979;
}
.banner__btn a:active {
  border: 2px solid #ab4949;
  background-color: #ab4949;
  color: #ffffff;
}
.banner-form {
  margin-top: 207px;
  width: 470px;
  height: 450px;
  background-color: #ffffff;
  border-radius: 10px;
}
.banner-form__title {
  text-align: center;
  padding-top: 29px;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: #333333;
}
.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 74px 50px;
}
.auth-form input {
  padding-bottom: 16px;
  margin-bottom: 33px;
  width: 370px;
  border: unset;
  border-bottom: 1px solid #bdbdbd;
}
.auth-form input::placeholder {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;

  color: #bdbdbd;
}
.auth-form input:focus {
  outline: 1px solid #C6CBCD;
  border-radius: 5px 5px 0 0; 


}
.auth-form__btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 470px;
  height: 60px;
  background-color: #ec7979;
  border-radius: 0 0 10px 10px;
  margin-top: 57px;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
}
.auth-form__btn a:hover {
  background-color: #ab4949;
  transition: all 0.2s;
}
.auth-form__btn a:active {
  background-color: #ec7979;
  box-shadow: inset 0px 0px 10px #ab4949;
}
