@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway&display=swap');
@import url(/css/awesome.css);
@import url(/css/tabs.css);
@import url(/css/pricing.css);
@import url(/css/customers.css);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Raleway', 'Open Sans', sans-serif;
}

.wrapper {
    padding: 74px 15px 30px 0;
    width: 1170px;
    margin: 0 auto;
}

.header__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    text-align: center;
}

.header__title::after {
    content: "";
    display: block;
    margin: 54px auto 40px auto;
    width: 170px;
    border-bottom: 1px solid #EC7979;
}

.header__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    color: #86878B;
    text-align: center;
}