.tab-menu {
  display: flex;
  align-items: flex-start;

}

.tab-menu a {
  text-decoration: none;
  color: #333333;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}

.tab-menu__item:last-child {
  flex-grow: 1;
}


.tab-menu__item {
  list-style-type: none;
  width: 184px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center; 
   border-bottom: 1px solid #c6cbcd;

}
.menu-item__active {
  border: 1px solid #c6cbcd;
  border-bottom: 0px;
  border-radius: 5px 5px 0 0;

}

.tab__block {
  display: flex;
  height: 501px;
  border: 1px solid #c6cbcd;
  border-top: none;
}
.tab__text {
  padding: 42px 15px 54px 100px;
}
.tab__title {
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  width: 570px;
}

.tab__description {
    width: 570px;
    margin-top: 68px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.tab__btn {
  margin-top: 28px;
  width: 270px;
  height: 58px;
  padding: 17px 0;
  background-color: #ec7979;
  text-align: center;
}

.tab__btn a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  
}
