@import url('./fonts.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.one {
    font-family: 'OpenSans-Regular';
}

.two {
    font-family: 'OpenSans-SemiBold';
}

.three {
    font-family: 'OpenSans-Bold';
}

.four {
    font-family: 'Raleway-Regular';
}
